.board{
    /*background-color:green;*/
    border-color:black;
    border-collapse:collapse;
    table-layout:fixed;
    border-width:thick;
    font-size:24px;
    text-align:center;
    vertical-align:middle;
}

.board .head {

    border-width: medium;
    background-color:lightgreen;
    font-weight:bold;
    width:24px
}
.board .body {
    background-color: green;
    border-width: medium;
}