.board{
    width:100%;
    height:auto;
    /*background-color:green;*/
    border-color:black;
    border-collapse:collapse;
    table-layout:fixed;
    border-width:thick;
    font-size:48px;
    text-align:center;
    vertical-align:middle;
}

.board .head {

    border-width: medium;
    background-color:lightgreen;
    font-weight:bold;
    width:24px
}
.board .body {
    background-color: green;
    border-width: medium;
}

#message{
    background-color:lightgreen;
    font-size:36px;
}

input{
    /*width:50px;*/
    font-size:36px;
}

.input{
    background-color:lightgreen;
    font-size:36px;
}